* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;

  --Very-dark-blue: hsl(233, 47%, 7%); /*(main background)*/
  --Dark-desaturated-blue: hsl(244, 38%, 16%); /*(card background)*/
  --Soft-violet: hsl(277, 64%, 61%); /*  (accent)*/
  --White: hsl(0, 0%, 100%); /*(main heading, stats) */
  --Slightly-transparent-white-m: hsla(0, 0%, 100%, 0.75); /*(main paragraph) */
  --Slightly-transparent-white-h: hsla(0, 0%, 100%, 0.6); /*(stat headings) */
}
body {
  font-size: 1.6rem;
  width: 100%;
  background-color: var(--Very-dark-blue);
  padding: 7rem 0;
}
.page {
  background: var(--Dark-desaturated-blue);
  padding: 0;
  margin: 0 auto;
  width: 37.5rem;
  text-align: center;
  font-family: "Inter", sans-serif;
  border-radius: 8px;
}
h1 {
  margin: 4rem 3rem 3rem;
  font-weight: 600;
  color: var(--White);
  font-size: 3.4rem;
  line-height: 110%;
}
#destak {
  font-size: 3.4rem;
  color: var(--Soft-violet);
}
p {
  padding: 0 4rem;
  color: var(--Slightly-transparent-white-h);
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.6rem;
  line-height: 160%;
}
header .container-img {
  position: absolute;
  width: 37.5rem;
  height: 27.5rem;
  background-color: var(--Soft-violet);
  border-radius: 0.8rem 0.8rem 0 0;
}
main::before {
  content: "";
  width: 100%;
  height: 27.5rem;
  background-image: url(./images/image-header-mobile.jpg);
  background-size: cover;
  display: block;
  opacity: 0.5;
  border-radius: 0.8rem 0.8rem 0 0;
  filter: contrast(1);
}
main h2 {
  margin: 4rem 0 1.1rem;
  font-weight: 600;
  color: var(--White);
  font-size: 3rem;
}
main span {
  text-transform: uppercase;
  color: var(--Slightly-transparent-white-h);
  font-size: 1.6rem;
}
.wrapper-status {
  padding-bottom: 4rem;
}

.attribution {
  color: var(--White);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1444px) {
  body {
    width: 100%;
    height: 100vh;
    margin: 15rem auto;
  }

  .page {
    display: flex;
    align-items: flex-end;
    width: 70%;
  }
  .page main {
    width: 100%;
    display: flex;
    text-align: start;
  }
  main::before {
    display: none;
  }
  header .container-img {
    display: none;
  }

  .container .wrapper-status {
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
    width: 50rem;
    padding-left: 3rem;
  }
  .container .wrapper-status h2 {
    font-size: 2.5rem;
  }
  .container .wrapper-status span {
    font-size: 1.2rem;
  }
  .container {
    border-radius: 0.8rem  0  0 0.8rem;
    background: var(--Dark-desaturated-blue);
    width: 100%;
    padding: 3rem;
  }
  .wrapper-text {
    width: 50rem;
    
  }

  
  main {
    background: var(--Soft-violet);
    border-radius: 1rem;
    width: 100%;
  }
  main::after {
    
    content: "";
    width: 100%;
    background-image: url(./images/image-header-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center center;
    display: inline-block;
    border-radius: 0 0.8rem 0.8rem 0;
    opacity: 0.5;
  }
}
